.suggested {
    transition: ease-in-out;

    &-results {
        padding: 20px;
        width: 100%;
        display: block;
        visibility: visible;
        transition: visibility 0s, opacity 0.5s linear;
        padding: 8px 28px;

        .__title {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            color: grey;
        }
    }

    &-lists {
        .__list {
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: rgba(66, 133, 244, 0.11);
            }
        }
    }
}